<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.zju.isst1"
    android:versionCode="5"
    android:versionName="1.0.5-alpha">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <application
        android:name=".CSTApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".v2.splash.gui.LoadingActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".v2.login.gui.LoginActivity"
            android:label="@string/login"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".ui.main.NewMainActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".ui.job.JobDetailActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".ui.job.RecommendDetailActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".ui.job.JobCommentListActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".ui.job.PublishRecommendActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".ui.life.CampusActivityDetailActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".ui.life.RestaurantDetailActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".v2.usercenter.userinfo.UserInfoActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".v2.usercenter.userinfo.UserInfoEditActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".ui.contact.ContactDetailActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".ui.contact.ContactFilterActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".v2.event.city.gui.CityEventDetailActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".v2.event.city.gui.CityEventParticipantsListActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".v2.contact.ContactFilterActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".v2.contact.contact.gui.CSTContactDetailActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".v2.contact.contact.gui.CSTSearchedAlumniActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".v2.archive.gui.ArchiveDetailActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".v2.restaurant.gui.NewRestaurantDetailActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".v2.usercenter.setting.SettingActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".v2.usercenter.setting.FeedBackActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".v2.usercenter.myactivity.MyEventActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".v2.usercenter.messagecenter.gui.PushMessagesActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".v2.usercenter.myexperience.MyExperienceActivity"
            android:theme="@style/MyTheme" />

        <provider
            android:name=".v2.db.CSTProvider"
            android:authorities="cn.edu.zju.isst1.v2.db.cstprovider"
            android:exported="false" />

        <!-- push service client -->
        <receiver android:name=".baidupush.PushMessageReceiver" >

            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>
        <!-- push service -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Push 服务 -->
        <!-- 注意:在 4.0 (包含)之后的版本需加上如下所示的 intent-filter action -->
        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>
        <!-- push service end -->


        <!-- <service -->
        <!-- android:name="com.baidu.android.pushservice.PushService" -->
        <!-- android:exported="true" -->
        <!-- android:process=":bdservice_v1"/> -->
        <!--
        <activity
            android:name=".v2.campusactivity.CampusActivityTest"
            android:label="@string/title_activity_campus_activity_test" >
        </activity>
        -->
        <!--
        <activity
            android:name=".v2.city.CityTest"
            android:label="@string/title_activity_city_test" >
        </activity>
        -->
        <!--
        <activity
            android:name=".v2.publisher.PublisherTest"
            android:label="@string/title_activity_publisher_test" >
        </activity>
        -->
        <!--
        <activity
            android:name=".v2.cityevent.CityEventTest"
            android:label="@string/title_activity_city_event_test" >
        </activity>
        -->
        <!--
        <activity
            android:name=".v2.cityparticipant.CityParticipantTest"
            android:label="@string/title_activity_city_participant_test" >
        </activity>
        -->
        <!--
        <activity
            android:name=".v2.citycomment.CommentTest"
            android:label="@string/title_activity_comment_test" >
        </activity>
        -->
        <activity
            android:name=".v2.usercenter.myrecommend.MyRecommendListActivity"
            android:label="@string/title_activity_my_recoomend_list_fragment"
            android:parentActivityName=".ui.main.BaseActivity"
            android:theme="@style/MyTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.edu.zju.isst1.ui.main.BaseActivity" />
        </activity>
        
        <activity
            android:name=".v2.usercenter.taskcenter.gui.TaskCenterActivity"
            android:label="@string/title_activity_task_center" >
        </activity>
        
        <activity
            android:name=".v2.usercenter.taskcenter.gui.GowhereSurveyActivity"
            android:label="@string/title_activity_gowhere_survey" >
        </activity>
    </application>

</manifest>